/dominio/src/test/xtend-gen/*
/dominio/src/main/xtend-gen/*
/dominio/target/*
dominio/target/xtend/
.gitignore~
/dominio/.project
/.settings/
/.classpath

/dominio/*.java
/dominio/.autosave
/dominio/.db
/dominio/.dia~

/dominio/bin


/dominio/src/main/generated-sources/
/dominio/src/test/generated-sources/
/dominio/.metadata/
